<div class = "form">
	<form action = "/" method = "post">
		<textarea name="body"></textarea>
	 	<input type = "submit" value = "create a thread" class = "thread_button"/>
	</form>
</div>

<% @posts.each do |post| %>
	<div class = "post">
		<h3><a href = "/post/<%= post.id%>"><%= post.id%></a></h3>
		<p><%=escape post.body %></p>
		<hr />

	</div>
<% end %>