<!doctype html> 
<html lang="en">  
<head>  
  <meta charset="utf8">  
  <title>decagon: a community of creatives</title>  
  <link href="/reset.css" rel="stylesheet"> 
  <link href="/style.css" rel="stylesheet">  
</head>  
<div id = "container">
  <body>  
    <div class = "header">  
        <a href="/"><img src = "/decagon_banner.png"/ width = "600px" height = "200px"></a>
    </div>        
    
    <div class = "content">
      <div class = "navigation">
        <% BOARDS.each do |board| %>
          <a href = "/<%= board %>/page/0">#<%= board %></a>
        <% end %>
      </div>
      <%= yield %> 
    </div>
          
    <div class = "footer">  
      <p><small>by <a href="http://twitter.com/_dvtran">dvtran</a></small></p>  
    </div>  
  </body>  
</div>
</html>
