#container {
	width: 600px;
	margin-left: auto;
	margin-right: auto;
}

.header {
	/* margin-top: -70px; */
	text-align: center;
}

.navigation {
	width: 558px;
	border-width: 1px;
	border-style: solid;
	border-color: black;
	margin-bottom: 10px;
	padding: 2px;
	padding: 20px;

	font-family: 'Courier New', Courier, monospace;
	text-align: center;
	font-size: 20px;
}

.board_name {
	width: 558px;
	border-width: 1px;
	border-style: solid;
	border-color: black;
	margin-bottom: 10px;
	padding: 2px;
	padding: 20px;
	font-family: 'Courier New', Courier, monospace;
	text-align: center;
	font-size: 60px;

}

.content {
	
}

.footer {
	text-align: center;
}

body {
	/* font-family: 'Helvetica Neue', Arial, sans-serif; */
	font-family: 'Courier New', Courier, monospace;
	text-align:left;
	margin:0 auto;
}
a {color:black;}
/* a:visited {color:#00e;} */
a:visited {color:black;}
a:hover {background-color: black; color: white;}
h1, h2, h3, p {color:#333333;}
h1, h2, h3 {font-family: 'Helvetica Neue', Arial, sans-serif;}
h1 	{font-size: 62pt;}
h2 	{font-size: 42pt;}
h3 	{font-size: 22pt;}
p 	{font-size: 10pt;}

.thread_button {
	margin-top: 10px;
}
textarea {
	width: 594px; 
	height: 100px;
	border-color: black;

	font-family: 'Courier New', Courier, monospace;
}

.form {
	/* margin-top: -50px; */
	margin-bottom: 10px;
}
.post {
	width: 558px;
	border-width: 1px;
	border-style: solid;
	border-color: black;
	margin-bottom: 10px;
	padding: 2px;
	padding-left: 	20px;
	padding-right: 	20px;
	padding-top: 	5px;
	padding-bottom:	5px;

	word-wrap: break-word;
}