body 
{
	font-family: 'Helvetica Neue', Arial, sans-serif; text-align:left;
	width: 600px;
}

h1, h2, h3, p {color:#333333;}

h1 	{font-size: 62pt;}
h2 	{font-size: 42pt;}
h3 	{font-size: 22pt;}
p 	{font-size: 11pt;}

