#container {
	width: 600px;
	margin-left: auto;
	margin-right: auto;
}
.header {
	margin-top: -70px;
	text-align: center;
}

.content {
	
}

.footer {
	text-align: center;
}

body {
	font-family: 'Helvetica Neue', Arial, sans-serif; text-align:left;
	margin:0 auto;
}

h1, h2, h3, p {color:#333333;}

h1 	{font-size: 62pt;}
h2 	{font-size: 42pt;}
h3 	{font-size: 22pt;}
p 	{font-size: 10pt; font-family: 'Courier New';}

.thread_button {
	margin-top: 10px;
}
textarea {
	width: 600px; 
	height: 100px;
	border-color: black;
}

.form {
	margin-top: -50px;
	margin-bottom: 10px;
}
.post {
	width: 565px;
	border-width: 1px;
	border-style: solid;
	border-color: black;
	margin-bottom: 10px;
	padding: 2px;
	padding-left: 	20px;
	padding-right: 	20px;
	padding-top: 	5px;
	padding-bottom:	5px;

	word-wrap: break-word;
}